<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ExtendedBuffer" allowCookies="true" maxBufferPoolSize="20000000"
          maxReceivedMessageSize="20000000" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:50589/SensatoService.svc"
        binding="basicHttpBinding" bindingConfiguration="ExtendedBuffer"
        contract="SensatoServiceReference.ISensatoService" name="BasicHttpBinding_ISensatoService" />
    </client>
  </system.serviceModel>
</configuration>